## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam!"
l=s.split()
print(l)

['Hi', 'there', 'Sam!']

In [3]:
s="Hi there dad!"
l=s.split()
print(l)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [9]:
planet="Earth"
diameter=12742
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [19]:
#Lists are mutable whereas tuples are immutable
list1=[1,2,3,4]
print("Initial list : ",list1)
list1[1]=7
print("List after mutation : ",list1)

#To check mutability of tuple
tuple1=(1,2,3,4)
print("Initial tuple : ",tuple1)
tuple1[1]=7
print("Tuple after mutation : ",tuple1)

Initial list :  [1, 2, 3, 4]
List after mutation :  [1, 7, 3, 4]
Initial tuple :  (1, 2, 3, 4)

TypeError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [22]:
sample="user@domain.com"
pos=sample.find("@")
domain=sample[pos:]
print(domain)

@domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [26]:
def checkOccurence(ip_string):
  if "dog" in ip_string:
    return True
  else:
    return False
checkOccurence("This sentence contains the word dog in it")

True

In [27]:
checkOccurence("This sentence does not contain the required word in it")

False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [29]:
def countOccurence(ip_string):
  count=0
  for i in range(len(ip_string)):
    if(ip_string[i:i+3]=="dog"):
      count+=1
  return count
countOccurence("dog1 barked at dog2")

2

In [30]:
countOccurence("dog1 barked at dog2 and then all the dogs in the street started barking at each other")

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [31]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [32]:
caught_speeding(82,False)

'Big Ticket'

In [33]:
caught_speeding(82,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [34]:
employee_salary=[10000,20000,35000,70000,45000]
tot_salary=0
for salary in employee_salary:
  tot_salary+=salary
print(tot_salary)

180000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [35]:
dict1={"Empid":7,"Empname":"lan","Basicpay":70000}
dict2={"DeptName":"CSE","DeptId":"DPT16"}
print("Dictionary 1 : ",dict1)
print("Dictionary 2 : ",dict2)
for val in dict2:
  dict1[val]=dict2[val]
print("Dictionary after combining : ",dict1)

Dictionary 1 :  {'Empid': 7, 'Empname': 'lan', 'Basicpay': 70000}
Dictionary 2 :  {'DeptName': 'CSE', 'DeptId': 'DPT16'}
Dictionary after combining :  {'Empid': 7, 'Empname': 'lan', 'Basicpay': 70000, 'DeptName': 'CSE', 'DeptId': 'DPT16'}